.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:58px;
margin-bottom:20px;
}

.hero p{
max-width:650px;
font-size:20px;
color:#555;
}